<Wix xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
  xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://wixtoolset.org/schemas/v4/wxs"
  xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Id="SaVMLang.SaAlloc"
    Name="SaAlloc"
    Manufacturer="The Sa VM Programming Language"
    Version="0.0.1"
    UpgradeCode="{e5f8d06a-9011-4490-8aba-7448343b0fe5}"
  >
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <WixVariable Id="WixUISupportPerUser" Value="1" />
    <WixVariable Id="WixUISupportPerMachine" Value="1" />

    <UI>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallScopeDlg"
        Order="2" />

      <Publish Dialog="InstallScopeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"
        Order="2" />
      <Publish Dialog="InstallScopeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg"
        Order="2" />

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="InstallScopeDlg"
        Order="2" />
    </UI>
  </Package>

</Wix>